@import "vars";
//=====================================
//=display none
//=====================================
/*  header,
#block-classier-views-block-katalog-block-1-2,
#block-10,
#block-views-block-blog,
#block-3,
#block-views-block-blagodarnosti-block-1,
#block-views-block-otzyvy-block-1,
#block-classier-form, 
//footer 
{
   display: none;
}  */
//=====================================
//=End of display none
//=====================================

/**
 *
 * TABLE OF CONTENT
 *
 * basis
 * general
 * social
 * header
 * menu
 * branding
 * front
 * advantages
 * textblock
 * blog
 * news
 * about
 * catalog
 * reviews
 * gallery
 * contacts
 * footer
 * 
 */


//=====================================
//=basis
//=====================================
html,body {
    min-height: 100%;
}
body {
    margin: 0;
    color: $color_text;
    font-family: $font-text;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,li,figure {
    margin-top: 0;
    margin-bottom: 1em;
}
p:last-child {
    margin-bottom: 0;
}
//=====================================
//=End of basis
//=====================================



//=====================================
//=general
//=====================================
@charset "utf-8";
h1,h2,h3,h4,h5,h6 /* titles */ {
    // color: $color_title;
    font-family: $font-title;
    font-weight: 800;
    line-height: 1.4;
}
h1 {
    font-size: 40px;

    @include media(msp) {
        font-size: 22px;
    };
    @include media(msl) {
        font-size: 26px;
    };
    @include media(mtp) {
        font-size: 30px;
    };
    @include media(mtl) {
        font-size: 34px;
    };
}
h2 {
    font-size: 34px;

    @include media(msp) {
        font-size: 22px;
    };
    @include media(msl) {
        font-size: 26px;
    };
    @include media(mtp) {
        font-size: 30px;
    };
    @include media(mtl) {
        font-size: 34px;
    };
}
a {
    display: inline-block;
    color: $color_link;

    text-decoration-color: lighten($color_link, 20%);
    &:hover {
        text-decoration: none;
    }
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.no-sidebars {
    .region-content {
        .block-content {
            @extend %layout;
        }
    }
}
.region-content {
    .block {
        padding: 40px 0 70px;
        &:nth-child(even) {
            background-color: $color_bg;
        }
        @at-root .user-logged-in & {
            position: relative;
        }
    }
}
#main-content {
    display: none;
}
//=====================================
//=End of general
//=====================================
.more-link a {
    display: block;
    width: 320px;
    margin: 50px auto 100px;
    padding: 20px 0px;
    background-color: #dc3e38;
    background-image: none;
    border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


//=====================================
//=social
//=====================================
.paragraph--type--social /* social icons */ {
    .paragraphs--inner {
        display: flex;
    }
    .field--type-link {
        margin-right: 5px;
        a {
            display: block;
            width: 30px;
            height: 30px;
            color: transparent;
            background-image: url(../images/bg/icon.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: #ccc;
            border: 1px solid #232323;
            box-sizing: border-box;
            font-size: 0;
        }
    }
}
.field--name-field-facebook a {
    background-image: url(../images/social/i-fb.com);
}
.field--name-field-twitter a {
    background-image: url(../images/social/i-tw.com);
}
.field--name-field-vk a {
    background-image: url(../images/social/i-vk.com);
}
.field--name-field-instagram a {
    background-image: url(../images/social/i-ints.com);
}
.field--name-field-odnoklassniki a {
    background-image: url(../images/social/i-ok.com);
}
//=====================================
//=End of social
//=====================================

//align center
#block-7 .block-content,
#block-classier-horizontalmenu .block-content,
#block-9 .block-content,
.region-footer  {
    width: 1140px;
    margin: 0 auto;
}


//=====================================
//=header
//=====================================

header {
    background-image: url("../images/caramel-1958386-1920.png");
    background-size: auto 100%;
    background-position: center center;
    background-attachment: fixed;
    background-color: gray;
    @include darker(rgba(#000, 0.7));
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
    .region-header {
        z-index: 3;
        padding-top: 35px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
} 
#block-7 {
    order: 2;
    margin-bottom: 80px;
    .contact {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }
    .telephone {
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 50px;
        &::before {
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 10px; 
            content: "";
            background-image: url('../images/telephone.png');
            background-size: 100%;
            background-position: 0 0; 
        }
    }    
    .e-mail {
        display: flex;
        align-items: center;
        margin-right: 50px;
        &::before {
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 10px; 
            content: "";
            background-image: url('../images/telephone.png');
            background-size: 100%;
            background-position: 0 0; 
        }
    }
}

#block-9 {
    order: 3;
    .site-name {
        margin-bottom: 20px;
        font-family: roboto slab;
        font-size: 60px;
        font-weight: bold;
    }
    .site-name::after {
        display: block;
        width: 650px;
        margin-bottom: 50px;
        padding-top: 20px;
        font-weight: 300;
        content:'Пул лояльных изданий, анализируя результаты рекламной кампании, концентрирует эмпирический инвестиционный продукт. Бренд спонтанно притягивает комплексный анализ рыночных цен. Привлечение аудитории стремительно отталкивает креативный conversion ';
        font-size: 20px;

    }
    .h-group::after {
        display: block;
        width: 320px;
        margin-bottom: 90px;
        padding: 20px 50px;
        content: 'запросить прайс';
        text-transform: uppercase;
        text-align: center;
        background-color: #dc3e38;
        border-radius: 7px;
    }
    .site-slogan {
        display: none;
    }
    .logo--black,
    .logo--white {
        display: none;
    }
}

#block-classier-horizontalmenu {
    order: 1;
    .horizontal-menu {
        margin-bottom: 50px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &::before {
            content: 'Вкусный Кондитер';
            margin: 0 auto 0 0;
            font-family: OlgaCTT;
            font-size: 40px;
            font-weight: 400;
            color: white;

        }
    }
    li {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        a {
            text-transform: uppercase;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid #dc3e38;
            }
        }
    }
}
#block-11 {
    display: none;
}
//=====================================
//=End of header
//=====================================

#block-10 {
    padding-top: 140px;
    background-image: url("../images/roulade-2258062-1920.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    a {
        color: white;
    }
    .text {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .two {
        font-family: roboto slab;
        font-size: 48px;
        font-weight: 400;
        text-align: center;
    }
    .one {
        font-size: 26px;
        text-align: center;
    }
    .button a {
        display: block;
        width: 320px;
        margin: 50px auto 100px;
        padding: 20px 0px;
        background-color: #dc3e38;
        background-image: none;
        border-radius: 7px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }
}

//=====================================
//=menu
//=====================================

//=====================================
//=End of menu
//=====================================



//=====================================
//=branding
//=====================================

//=====================================
//=End of branding
//=====================================



//=====================================
//=front
//=====================================

//=====================================
//=End of front
//=====================================



//=====================================
//=advantages
//=====================================
#block-3 {
    background-image: url(../images/pexels-photo-132694.jpg);
    /* color: white; */
    h2 {
        font-family: Roboto slab;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    .field--name-body p {
        font-size: 18px;
        text-align: center;
    }
    .field--type-field-collection {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .field-collection-item:before {
        display: block;
        width: 142px;
        height: 142px;
        background-color: black;
    }
    .field--name-field-zagolovok{
        font-family: roboto slab;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 28px;
    }
    .field--name-field-opisanie {
        font-size: 16px;
        font-weight: 200;
    }
    .field--name-field-piktogramma,
    .field--name-field-izobrazenie {
        display: none;
    }

}
//=====================================
//=End of advantages
//=====================================



//=====================================
//=textblock
//=====================================

//=====================================
//=End of textblock
//=====================================



//=====================================
//=blog
//=====================================
#block-views-block-blog {
    background-color: #f5f5f5;
    h2 {
        font-family: Roboto slab;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    .view-content {
        @include row;
    }
    .views-row {
        @include col(( desktop: 32%, mtl: 32%, mtp: 32%, msl: 48%, msp: 100%));
        margin-bottom: 10px;
        background-color: white; 
        img {
            width: 374px; 
        }
    }
    .more-link a {
        display: block;
        width: 320px;
        margin: 50px auto 100px;
        padding: 20px 0px;
        background-color: #dc3e38;
        background-image: none;
        border-radius: 7px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }
} 
//=====================================
//=End of blog
//=====================================



//=====================================
//=news
//=====================================

//=====================================
//=End of news
//=====================================



//=====================================
//=about
//=====================================

//=====================================
//=End of about
//=====================================


#block-8 {
    display: none;
}
//=====================================
//=catalog
//=====================================
#block-classier-views-block-katalog-block-1-2 {
    h2 {
        font-family: Roboto slab;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    .view-katalog {
        margin-bottom: 100px;
    }
    .view-content {
        @include row;
    }
    .views-row {
        @include col(( desktop: 32%, mtl: 32%, mtp: 32%, msl: 48%, msp: 100%));
        position: relative;
    }
    .views-field-field-image {
        @include darker(rgba(#000, 0.5));
    }
    .views-field-body {
        display: none; 
    }
    .views-field-nothing {
        position: absolute;
        z-index: 2;
        bottom: 50px;
        left: 30px;
    }
    .views-field-title a {
        font-family: roboto slab;
        font-size: 28px;
        text-decoration: none;
        color: white;
    }
    .views-field-field-cena .field-content {
        font-style: 26px;font-weight: 700;
        color: white;
    }
    .more-link {
        display: none;
    }
    &::after {
        display: block;
        width: 320px;
        margin: 0 auto;
        padding: 20px 50px;
        content: 'все товары';
        text-transform: uppercase;
        text-align: center;
        background-color: #dc3e38;
        border-radius: 7px;
        color: white;
    }
}
//=====================================
//=End of catalog
//=====================================



//=====================================
//=reviews
//=====================================
#block-views-block-otzyvy-block-1 {
    background-image: url(../images/pexels-photo-96431.png);
    background-size: cover;
    h2 {
        font-family: Roboto slab;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        color: white;
    }
    .view-content {
        @include row;
    }
    .views-row {
        @include col(( desktop: 32%, mtl: 32%, mtp: 32%, msl: 48%, msp: 100%));
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: white;
    }
    .views-field-field-img img {
        width: 170px;
        height: 170px; 
        margin: 0 auto;
        border-radius: 50%;
    }
    .views-field-title {
        padding: 35px 50px 0;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    .views-field-field-post {
        font-size: 12px;
        text-align: center;
    }
    .views-field-body {
        padding: 35px 50px 0;
        line-height: 22px;
    }
}
//=====================================
//=End of reviews
//=====================================



//=====================================
//=gallery
//=====================================

//=====================================
//=End of gallery
//=====================================



//=====================================
//=contacts
//=====================================
#block-classier-form {
    margin-top: 60px;
    .block-content {
        position: relative;
        width: 770px;
        border: 1px solid lightgray;
    }
    h2 {
        margin-left: 50px;
        margin-top: 50px;
        font-family: Roboto slab;
        font-size: 30px;
        font-weight: 400;
    }
    .form-text {
        width: 300px;
        margin-left: 50px;
        border: none;
        border-bottom: 1px solid lightgray;
    }
    textarea {
        position: absolute;
        width: 300px;
        height: 200px;
        padding: 5px;
        top: 50px;
        left: 400px;
        border: none;
        border-left: 1px solid lightgray;
    }
    .button {
        display: block;
        width: 320px;
        margin: 50px auto 30px;
        padding: 20px 0px;
        background-color: #dc3e38;
        background-image: none;
        border-radius: 7px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }
}
//=====================================
//=End of contacts
//=====================================

//=====================================
//=footer
//=====================================
footer {
    background-color: gray;
    background-image: url(../images/cookie-1832169-1920.png);
    background-size: cover;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    table {
        width: 100%;
        .rteright {
            text-align: right;
        }
    }
}
.region-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        display: none;
    }
}
#block-4 {
    position: absolute;
    width: 350px;
    font-size: 12px;
    &:before {
        content: 'Вкусный кондитер';
        font-family: OlgaCTT;
        font-size: 44px;
    }

}
#block-5 {
    margin-left: 600px;
    margin-right: 15px;
    .field--type-text-with-summary {
        display: flex;
        flex-direction: row;
    }
    .telefon {
        margin-right: 15px;;
    }
    .adres {
        display: none;
    }
}
#block-12 {
}
#block-6 {
    width: 100%;
    padding-top: 150px;
}
//=====================================
//=End of footer
//=====================================

//=====================================
//=x3
//=====================================
#block-views-block-blagodarnosti-block-1 {
    h2 {
        font-family: Roboto slab;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    .view-content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .views-row {
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    } 
}
#block-classier-content {
    display: none;
}
//=====================================
//=End of x3
//=====================================

